:root {
  /* project color */
  --clr-moderate-blue: hsl(238, 40%, 52%);
  --clr-soft-red: hsl(358, 79%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-verylight-gray: hsl(228, 33%, 97%);
  --clr-light-gray: hsl(223, 19%, 93%);
  --clr-grayish-blue: hsl(211, 10%, 45%);
  --clr-dark-blue: hsl(212, 24%, 26%);
  --clr-pale-red: hsl(357, 100%, 86%);
  --clr-lightgrayish-blue: hsl(239, 57%, 85%);

  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}

li {
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 16px;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

h1 {
  font-weight: 400;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}
/* comment container */
.comment-container {
  padding-top: 4rem;
  /* background-color: lightgreen; */
  max-width: var(--max-width);
  margin: auto;
}
/* comment container */

/* comment card */
.comment-card {
  margin: 1rem auto 1rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  max-width: 730px;
  width: 100%;
}

.comment-card header {
  display: flex;
  align-items: center;

  padding: 1rem;
  gap: 1rem;
}
.avatar {
  width: 35px;
  height: 35px;
}

.comment-card header a {
  font-weight: 700;
  font-size: 1rem;
  font-family: inherit;
  color: var(--clr-grayish-blue);
  letter-spacing: -0.03rem;
}

.date-detail {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-grayish-blue);
}

.comment-card p {
  padding: 0 1rem;
  color: var(--clr-grayish-blue);
  font-weight: 500;
  line-height: 1.4rem;
}

.comment-card button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.comment-card footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

.vote-number {
  background-color: var(--clr-verylight-gray);
  border-radius: 10px;
  color: var(--clr-moderate-blue);
  font-weight: 700;
  overflow: hidden;
  gap: 0.3rem;
}
.vote-number span {
  font-size: 1rem;
}
.vote-number button {
  padding: 0.85rem;

  height: 100%;
}
.reply {
  gap: 0.4rem;
}
.reply span {
  color: var(--clr-moderate-blue);

  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .comment-card {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
    position: relative;
  }
  .reply {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  footer {
  }
  .comment-card article {
    width: 100%;
  }
  .vote-number {
    flex-direction: column;
    /* background-color: red; */
    gap: 0.2rem;
    align-self: flex-start;
    margin-top: 2rem;
  }
  .vote-number button {
    padding: 0.8;
    height: initial;
  }
}
/* comment card */

/* reply card  */
.reply-card {
  padding-bottom: 1rem;

  margin: 1rem auto 1rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  max-width: 730px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "textarea textarea"
    "avatar btn";
}
.textarea-wrapper {
  padding: 1rem 1rem 0.8rem 1rem;
  grid-area: textarea;
}
.reply-card textarea {
  resize: none;
  width: 100%;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;

  font-family: inherit;
  border-radius: 10px;
}

.reply-card footer {
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}

.reply-card .avatar {
  grid-area: avatar;
  justify-self: start;
  margin-left: 1rem;
}
.btn-send {
  background-color: var(--clr-moderate-blue);
  color: white;
  border: none;
  padding: 0.8em 2em;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  grid-area: btn;
  margin-right: 1rem;
  max-width: 100px;
  justify-self: end;
}
/* reply card  */

@media screen and (min-width: 600px) {
  .reply-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: red; */
    padding: 1.5rem 0rem 0rem 0rem;
  }
  .textarea-wrapper {
    order: 2;
    /* background-color: red; */
    padding-top: 0;
  }
  .avatar {
    order: 1;
  }
  .btn-send {
    order: 3;
  }
}

/* laterTwo */
.comment-card-wrapper {
  max-width: 730px;
  margin: auto;
  position: relative;
  width: 92%;
}
.layerTwo {
  /* background-color: gold; */
  width: 88%;
  margin: 0 0 0 auto;
}

.wrapper-layerTwo::before {
  content: "";
  width: 20px;
  height: 100%;
  background-color: var(--clr-light-gray);
  position: absolute;
  left: 6%;
}

/* laterTwo */
